{extends file='admin-layout.tpl'}

{block name='page-title'}Seven {intl d='seven' l='bulk_sms'}{/block}

{block name='check-resource'}admin.module{/block}
{block name='check-access'}view{/block}
{block name='check-module'}Seven{/block}

{block name='main-content'}
<div class='col-md-12 general-block-decorator'>
    {foreach $messages as $message}
    <div class='alert alert-info'>
        {$message}
    </div>
    {/foreach}

    <div class='row'>
        <div class='col-md-12 title title-without-tabs'>
            {intl d='seven' l='bulk_sms_desc'}
        </div>
    </div>

    <div class='form-container'>
        <div class='col-md-12'>
            {form name='seven.bulk.sms.form'}
            <form method='POST' id='seven-bulk-sms-form' class='clearfix'
                  action='{url path="/admin/module/Seven/bulk/sms"}' {form_enctype}>

                {form_hidden_fields}

                <fieldset>
                    <legend>{intl d='seven' l='filters'}</legend>

                    {form_field form=$form field='filter_reseller'}
                    <div class='form-group checkbox-inline'>
                        <label class='control-label'>
                            <input type='checkbox' name='{$name}'/>
                            {$label}
                            <span class='help-block'>{$label_attr.help}</span>
                        </label>

                        {form_error form=$form field='filter_reseller'}<br/>
                        <span class='error'>{$message}</span>
                        {/form_error}
                    </div>
                    {/form_field}

                    <hr/>
                </fieldset>

                {form_field form=$form field='flash'}
                <div class='form-group checkbox-inline'>
                    <label class='control-label'>
                        <input type='checkbox' name='{$name}'/>
                        {$label}
                        <span class='help-block'>{$label_attr.help}</span>
                    </label>

                    {form_error form=$form field='flash'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}
                </div>
                {/form_field}

                {form_field form=$form field='debug'}
                <div class='form-group checkbox-inline'>
                    <label class='control-label'>
                        <input type='checkbox' name='{$name}'/>
                        {$label}
                        <span class='help-block'>{$label_attr.help}</span>
                    </label>

                    {form_error form=$form field='debug'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}
                </div>
                {/form_field}

                {form_field form=$form field='no_reload'}
                <div class='form-group checkbox-inline'>
                    <label class='control-label'>
                        <input type='checkbox' name='{$name}'/>
                        {$label}
                        <span class='help-block'>{$label_attr.help}</span>
                    </label>

                    {form_error form=$form field='no_reload'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}
                </div>
                {/form_field}

                {form_field form=$form field='performance_tracking'}
                <div class='form-group checkbox-inline'>
                    <label class='control-label'>
                        <input type='checkbox' name='{$name}'/>
                        {$label}
                        <span class='help-block'>{$label_attr.help}</span>
                    </label>

                    {form_error form=$form field='performance_tracking'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}
                </div>
                {/form_field}

                {form_field form=$form field='label'}
                <div class='form-group {if $error}has-error{/if}'>
                    <label class='control-label' for='{$label_attr.for}'>{$label}</label>

                    <input class='form-control' name='{$name}' id='{$label_attr.for}'
                           maxlength='100'
                           placeholder='My Custom Label' value='{$value}'/>

                    {form_error form=$form field='label'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}

                    <span class='help-block'>{$label_attr.help}</span>
                </div>
                {/form_field}

                {form_field form=$form field='foreign_id'}
                <div class='form-group {if $error}has-error{/if}'>
                    <label class='control-label' for='{$label_attr.for}'>{$label}</label>

                    <input class='form-control' name='{$name}' id='{$label_attr.for}'
                           maxlength='64' placeholder='My Foreign ID' value='{$value}'/>

                    {form_error form=$form field='foreign_id'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}

                    <span class='help-block'>{$label_attr.help}</span>
                </div>
                {/form_field}

                {form_field form=$form field='delay'}
                <label class='control-label' for='{$label_attr.for}'>{$label}</label>

                <input class='form-control datetime-picker'
                       id='{$label_attr.for}'
                       name='{$name}'
                       type='datetime-local'/>

                {form_error form=$form field='delay'}<br/>
                <span class='error'>{$message}</span>
                {/form_error}

                <span class='help-block'>{$label_attr.help}</span>
                {/form_field}

                {form_field form=$form field='from'}
                <div class='form-group {if $error}has-error{/if}'>
                    <label class='control-label' for='{$label_attr.for}'>{$label}</label>

                    <input class='form-control' name='{$name}' id='{$label_attr.for}'
                           maxlength='16'
                           placeholder='Thelia' value='{$value}'/>

                    {form_error form=$form field='from'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}

                    <span class='help-block'>{$label_attr.help}</span>
                </div>
                {/form_field}

                {form_field form=$form field='text'}
                <div class='form-group {if $error}has-error{/if}'>
                    <label class='control-label' for='{$label_attr.for}'>{$label}</label>

                    {form_error form=$form field='text'}<br/>
                    <span class='error'>{$message}</span>
                    {/form_error}

                    <textarea class='form-control' name='{$name}' id='{$label_attr.for}'
                              maxlength='1520'
                              rows='5' required
                              placeholder='{intl d="seven" l="sms_text_placeholder"}'
                    ></textarea>

                    <span class='help-block'>{$label_attr.help}</span>
                </div>
                {/form_field}

                <input type='submit' class='form-submit-button btn btn-sm btn-success'
                       value='{intl d="seven" l="send"}'/>
            </form>
            {/form}
        </div>
    </div>
</div>
{/block}
