<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <forms>
        <form name="seven.config.form" class="Seven\Form\Configuration"/>
        <form name="seven.bulk.sms.form" class="Seven\Form\BulkSms"/>
    </forms>

    <hooks>
        <hook id="seven.configuration.hook" class="Seven\Hook\HookSevenManager" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration"/>
        </hook>

        <hook id="seven.customers.actions" class="Seven\Hook\HookSevenManager" scope="request">
            <tag name="hook.event_listener" event="customer.bottom" type="back" method="onCustomers"/>
        </hook>
    </hooks>
</config>
